[submodule "coalescence"]
	path = coalescence
	url = https://github.com/g-andrade/coalescence-synth.git
	branch = master
[submodule "teardrop"]
	path = teardrop
	url = https://github.com/g-andrade/teardrop.git
