[submodule "coalescence"]
	path = coalescence
	url = https://github.com/g-andrade/coalescence-synth.git
	branch = master
[submodule "teardrop"]
	path = teardrop
	url = https://github.com/g-andrade/teardrop.git
[submodule "circles"]
	path = circles
	url = https://github.com/g-andrade/circles.git
[submodule "shepard"]
	path = shepard
	url = https://github.com/g-andrade/shepard.git
